body
{
    font-family: Arial, sans-serif;
    margin: 10px;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

th
{
    background-color: #005686;
    color: white;
}

th, td
{
    border: 1px solid #ccc;
    padding: 6px;
}
