body{
    margin:0;
    padding:10px;
    font-family:Arial, sans-serif;
    background:#f5f6f8;
}

/* HEADER */
.header{
    font-size:18px;
    font-weight:600;
    padding:10px;
    background:#fff;
    border-bottom:1px solid #ddd;
}

/* TABLE */
.table{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    table-layout:fixed;
    border:1px solid #dcdcdc;
}

.table th{
    text-align:left;
    padding:12px;
    background:#2f80ed;   /* OOTB BLUE */
    color:white;
    font-size:13px;
    font-weight:600;
}

.table td{
    padding:12px;
    border-bottom:1px solid #eee;
}

/* PROJECT NAME */
.project-link{
    font-size:15px;
    font-weight:700;
    color:#1f1f1f;
    text-decoration:none;
}

.project-link:hover{
    color:#2f80ed;
    text-decoration:underline;
}

/* STATUS BLUE PILL */
.status-pill{
    background:#2f80ed;
    color:#fff;
    padding:4px 10px;
    border-radius:12px;
    font-size:12px;
    font-weight:600;
    display:inline-block;
}

/* SPLIT VIEW */
.container-split{
    display:flex;
    gap:10px;
}

.left-panel{
    width:50%;
}

.right-panel{
    width:50%;
    background:#fff;
    border:1px solid #ddd;
    padding:15px;
    box-sizing:border-box;
}

/* FULL WIDTH */
.container-full .left-panel-full{
    width:100%;
}

/* DETAILS */
.ootb-title{
     background:#2f80ed;
    color:white;
    font-size:18px;
    font-weight:700;
    padding:10px 12px;
    margin:-15px -15px 15px -15px;
    border-bottom:1px solid #1f6fe0;
}

.row{
    display:flex;
    padding:12px 0;
    border-bottom:1px solid #ececec;
    align-items:flex-start;
}

.label{
    width:40%;
    font-weight:700;
    font-size:15px;
    color:#444;
}

.value{
    width:60%;
    font-size:15px;
    font-weight:400;
    color:#222;
    word-break:break-word;
}

/* CLOSE BUTTON */
.footer{
    margin-top:15px;
    text-align:right;
}

.footer button{
    background:#2f80ed;
    color:#fff;
    border:none;
    padding:6px 14px;
    border-radius:3px;
    cursor:pointer;
}

.footer button:hover{
    background:#1f6fe0;
}
